<div class="user-details">
 <h1> Growth and Development </h1>
</div>
<div class="Growth">
    <h1> Growth and Development </h1>
</div>
    <div class="tabs-container">
        <input type="radio" id="tab1" name="tab" checked>
        <label class="Button" for="tab1">Tab One</label>
            <div class="tab">
                <div class="content">
                  <ul>
                    <li> Featured Skills</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <a class="blog-link" href="#">Check it out</a>
                </div>
            </div>

        <input type="radio" id="tab2" name="tab">
        <label class="tabButton" for="tab2">Tab Two</label>
            <div class="tab">
                <div class="content">
                  <ul>
                    <li> Featured Skills</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <a class="blog-link" href="#">Check it out</a>
                </div>
            </div>

        <input type="radio" id="tab3" name="tab">
        <label class="Button" for="tab3">Tab Three</label>
            <div class="tab">
                <div class="content">
                  <ul>
                    <li> Featured Skills</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <a class="blog-link" href="#">Check it out</a>
                </div>
            </div>
    </div>

    EX 2
    <input type="radio" name="Tab1" checked="checked" />
<div type="content">
    <h1>Blah blah blah</h1>
    <p>Blah blah blah blah</p>
    </div>
<input type="radio" name="name" />
<div></div>
<input type="radio" name="name" />
<div></div>
<input type="radio" name="name" />
<div></div>
