<div id="Home-particles-js">
  <div class="home-header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.usertitle}}</span>
      </h1>
      <div class="home-header-icons">
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}"><i class="icon fa fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="home-header-links">
        <a class="link" href="/">Home</a>
        <a class="link" href="/portfolio/">Portfolio</a>
        <a class="link" href="/blog/">Blog</a>
        <p><a class="link" href="#about" data-scroll>About Me</a></p>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
